
<div>
  <label>
    {{ label }}
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        [type]="inputType"
        [(ngModel)]="password"
        nz-input
        (keydown)="validatePassword()"
        [placeholder]="placeholder"
        [(ngModel)]="password"
        [ngClass]="customClass"
      />
      <button class="clearButton" (click)="clearPassword()">X</button>
    </nz-input-group>
    <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="togglePasswordVisibility()"
      ></span>
      
    </ng-template>
    <div class="errorCapslock" *ngIf="capsLockOn">
      Masz włączonego capslocka
    </div>
    <div class="errors" *ngIf="passwordError">{{ passwordError }}</div>
  </label>
  <div class="errors"></div>
</div>
