.register-box {
    background-color: rgba(226, 239, 241, 0.8);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
}

.input-field-column {
    margin: 10px 0 10px;
}

.h1-register-headline {
    text-align: center;
    text-transform: uppercase;
}

.link {
    color: #000;
}

.link-to-login {
    color: #000;
}

.column-link-register {
    text-align: center;
}

.left-side-button {
    display: flex;
    justify-content: flex-end;
}

.button-register {
    border-radius: 20px;
    background-color: #457EAC;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    transition: 0.3s;
    margin-top: 30px;
}

.button-register:hover {
    background-color: #2D5D7B;
    cursor: pointer;
}

.input-form {
    height: 50px;
}

@media screen and (min-width: 992px) {
    .register-box {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .register-box {
        width: 40%;
    }
}

@media screen and (min-width: 1440px) {
    .register-box {
        width: 30%;
    }
}